ycb/
.idea/
**/__pycache__/
data/tsinghua/S1.mat
data/tsinghua/S10.mat
data/tsinghua/S11.mat
data/tsinghua/S12.mat
data/tsinghua/S13.mat
data/tsinghua/S14.mat
data/tsinghua/S15.mat
data/tsinghua/S16.mat
data/tsinghua/S17.mat
data/tsinghua/S18.mat
data/tsinghua/S19.mat
data/tsinghua/S2.mat
data/tsinghua/S20.mat
data/tsinghua/S21.mat
data/tsinghua/S22.mat
data/tsinghua/S23.mat
data/tsinghua/S24.mat
data/tsinghua/S25.mat
data/tsinghua/S26.mat
data/tsinghua/S27.mat
data/tsinghua/S28.mat
data/tsinghua/S29.mat
data/tsinghua/S3.mat
data/tsinghua/S30.mat
data/tsinghua/S31.mat
data/tsinghua/S32.mat
data/tsinghua/S33.mat
data/tsinghua/S34.mat
data/tsinghua/S35.mat
data/tsinghua/S4.mat
data/tsinghua/S5.mat
data/tsinghua/S6.mat
data/tsinghua/S7.mat
data/tsinghua/S8.mat
data/tsinghua/S9.mat
